<p-toast></p-toast>
<div class="m-5 p-4 border-solid border-200 border-round-md" *ngIf="!isLoading">
  <h2>Editar Riesgo</h2>
  <div class="p-fluid p-grid p-formgrid">
    <div class="field col-12 md:col-4">
      <label>ID Proyecto</label>
      <input
        type="text"
        pInputText
        [readonly]="true"
        value="{{ formuRiesgo.idProyecto }}"
        required
      />
      <br />
      <br />
      <label>Nombre Del Proyecto</label>
      <input
        type="text"
        pInputText
        [readonly]="true"
        value="{{ formuRiesgo.nombreProyecto }}"
      />

      <form [formGroup]="formRiesgo">
        <br />
        <label>Nombre del Riesgo</label>
        <input
          class="mb-5"
          pInputText
          formControlName="name"
          [(ngModel)]="formuRiesgo.nombreRiesgo"
        />
        <div class="mb-3" *ngIf="formuRiesgo.nombreRiesgo.length < 5 ||  formuRiesgo.nombreRiesgo.length >= 50 ">
          <p-message severity="error" text="Campo excedio limite de caracteres permitidos (50)"></p-message>
        </div>

        <label>Fecha Deteccion del Riesgo </label>
        <p-calendar
          inputId="basic"
          [(ngModel)]="formuRiesgo.fechaDeteccion"
          [readonlyInput]="true"
          [ngModelOptions]="{ standalone: true }"
          dateFormat="yy/mm/dd"
          placeholder="{{ formuRiesgo.fechaDeteccion }}"
          disabled="true"
        ></p-calendar>
        <div
          class="nombre-requerido mt-2"
          *ngIf="formuRiesgo.fechaDeteccion == ''"
        >
          <p-message severity="error" text="Campo es Requerido"></p-message>
        </div>
        <br />
        <label>Fecha de Cierre del Riesgo (opcional)</label>
        <p-calendar
          inputId="basic"
          [(ngModel)]="formuRiesgo.fechaCierre"
          [ngModelOptions]="{ standalone: true }"
          dateFormat="yy/mm/dd"
          [minDate]="fechaHoy"
        ></p-calendar>

        <br />
        <label>Etiquetas</label>
        <input
          type="text"
          pInputText
          [(ngModel)]="etiquetahtml"
          [ngModelOptions]="{ standalone: true }"
        />
        <p-button
          class="mt-2"
          *ngIf="etiquetahtml != ''"
          (click)="agregarEtiqueta(etiquetahtml)"
          pButton
        >
          Agregar Etiqueta
        </p-button>
        <div
          class="mt-2 mb-3"
          *ngFor="let etiquetas of formuRiesgo.etiquetas; index as i"
        >
          <p-chip styleClass="mr-2 custom-chip" class="etiquetas">
            {{ formuRiesgo.etiquetas[i] }}
          </p-chip>
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-trash"
            class="p-button-danger p-button-sm"
          ></button>
        </div>
        <label>Descripcion del Riesgo</label>
        <textarea
          pInputTextarea
          [(ngModel)]="formuRiesgo.descripcionRiesgo"
          formControlName="detalle"
        ></textarea>
        <div
          class="nombre-requerido mb-5"
          *ngIf="formuRiesgo.descripcionRiesgo.length < 5"
        >
          <p-message
            severity="error"
            text="Campo es Requerido ( 5 caracteres minimo)"
          ></p-message>
        </div>

        <label>Estado de Riesgo</label>
        <p-dropdown
          [options]="estadoRiesgo"
          formControlName="estadoRiesgo"
          [(ngModel)]="formuRiesgo.estadoRiesgo"
          placeholder="Estado De Riesgo"
          [required]="true"
        ></p-dropdown>
        <br />
        <div
          class="nombre-requerido mt-1 mb-2"
          *ngIf="formuRiesgo.estadoRiesgo == ''"
        >
          <p-message severity="error" text="Campo es Requerido"></p-message>
        </div>
        <br />
        <label>Audiencia</label>
        <p-dropdown
          [options]="audiencias"
          formControlName="audiencia"
          [(ngModel)]="formuRiesgo.audiencia"
          placeholder="Tipo De Audiencia"
        ></p-dropdown>
        <br />
        <div class="nombre-requerido" *ngIf="formuRiesgo.audiencia == ''">
          <p-message severity="error" text="Campo es Requerido"></p-message>
        </div>
        <br />
        <label>Categoria</label>
        <p-dropdown
          [options]="categorias"
          formControlName="categoria"
          [(ngModel)]="formuRiesgo.categoria"
          placeholder="Categoria del Riesgo"
        ></p-dropdown>
        <br />
        <div class="nombre-requerido" *ngIf="formuRiesgo.categoria == ''">
          <p-message severity="error" text="Campo es Requerido"></p-message>
        </div>
        <br />

        <label>Tipo de Riesgo</label>
        <p-dropdown
          [options]="tipoRiesgos"
          formControlName="TipoRiesgos"
          [(ngModel)]="formuRiesgo.tipoRiesgo"
          placeholder="Categoria del Riesgo"
        ></p-dropdown>
        <br />
        <div class="nombre-requerido" *ngIf="formuRiesgo.tipoRiesgo == ''">
          <p-message severity="error" text="Campo es Requerido"></p-message>
        </div>

        <label>Descripcion del Tipo de Riesgo</label>
        <textarea
          pInputTextarea
          formControlName="DetalleTipoRiesgo"
          [(ngModel)]="formuRiesgo.detalleTipoRiesgo"
        ></textarea>
        <div
          class="nombre-requerido mb-5"
          *ngIf="formuRiesgo.detalleTipoRiesgo.length < 5"
        >
          <p-message
            severity="error"
            text="Campo es Requerido ( 5 caracteres minimo)"
          ></p-message>
        </div>

        <label>Probabilidad de Ocurrencia en el Riesgo</label>
        <p-dropdown
          [options]="ocurrenciariesgo"
          [(ngModel)]="formuRiesgo.probabilidadDeOcurrenciaDelRiesgo"
          placeholder="Selecciona la opcion Deseada"
          [ngModelOptions]="{ standalone: true }"
          (onChange)="actualizarValorCriticidad($event)"
        ></p-dropdown>
        <br />

        <label>Valor Impacto en caso de ocurrir el Riesgo</label>
        <p-dropdown
          [options]="impactoDeOcurrenciaDelRiesgo"
          [(ngModel)]="formuRiesgo.impactoDeOcurrenciaDelRiesgo"
          placeholder="Selecciona la opcion Deseada"
          [ngModelOptions]="{ standalone: true }"
          (onChange)="actualizarValorCriticidad($event)"
        ></p-dropdown>
        <br />
        <label>Valor de Criticidad</label>
        <div class="mt-3" *ngIf="formuRiesgo.valorCriticidad === 1">
          <p-chip styleClass="mr-2 custom-chip"> Bajo </p-chip>
        </div>
        <div class="mb-2" *ngIf="formuRiesgo.valorCriticidad === 2">
          <p-chip styleClass="mr-2 custom-chip"> Medio </p-chip>
        </div>
        <div class="mb-2" *ngIf="formuRiesgo.valorCriticidad === 3">
          <p-chip styleClass="mr-2 custom-chip"> Alto </p-chip>
        </div>
        <br />

        <label>Plan de Mitigacion</label>
        <textarea
          pInputTextarea
          formControlName="descripcionPlanDeMitigacion"
          [(ngModel)]="formuRiesgo.descripcionPlanDeMitigacion"
        ></textarea>
        <div
          class="nombre-requerido mb-5"
          *ngIf="formuRiesgo.descripcionPlanDeMitigacion.length < 5"
        >
          <p-message
            severity="error"
            text="Campo es Requerido (5 caracteres minimo)"
          ></p-message>
        </div>
        <label>Responsables Plan de Mitigacion(correo)</label>
        <br />
        <input
          type="email"
          pInputText
          [(ngModel)]="responsableMitigacionHtml"
          placeholder="Correo del responsable"
          formControlName="emailsPlanMitigacion"
          pKeyFilter="email"
        />
        <br />
        <br />
        <button pButton
          class="mt-2"
          (click)="agregarResponsableMitigacion(responsableMitigacionHtml)"
        >
          Agregar Responsable
        </button>

        <div
          class="mt-2 mb-3"
          *ngFor="let emails of formuRiesgo.emailsPlanDeMitigacion; index as i"
        >
          <p-chip styleClass="mr-2 custom-chip" class="etiquetas">
            {{ formuRiesgo.emailsPlanDeMitigacion[i] }}
          </p-chip>
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-trash"
            class="p-button-danger p-button-sm"
            (click)="eliminarResponsableMitigacion(i)"
          ></button>
        </div>

        <label>Plan de Contingencia</label>
        <textarea
          pInputTextarea
          formControlName="descripcionPlanDeContingencia"
          [(ngModel)]="formuRiesgo.descripcionPlanDeContingencia"
        ></textarea>
        <div
          class="nombre-requerido mb-5"
          *ngIf="formuRiesgo.descripcionPlanDeContingencia.length < 5"
        >
          <p-message
            severity="error"
            text="Campo es Requerido (5 caracteres minimo)"
          ></p-message>
        </div>
        <label>Responsables Plan de Contingencia(correo)</label>
        <br />
        <input
          type="email"
          pInputText
          [(ngModel)]="responsableContingenciaHtml"
          placeholder="Correo del responsable"
          formControlName="emailsPlanContingencia"
          pKeyFilter="email"
        />
        <br />
        <br />
        <button pButton
          class="mt-2 mb-2"
          (click)="agregarResponsableContingencia(responsableContingenciaHtml)"
        >
          Agregar Responsable
        </button>

        <div
          class="mt-2 mb-3"
          *ngFor="
            let emails of formuRiesgo.emailsPlanDeContingencia;
            index as i
          "
        >
          <p-chip styleClass="mr-2 custom-chip" class="etiquetas">
            {{ formuRiesgo.emailsPlanDeContingencia[i] }}
          </p-chip>
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-trash"
            class="p-button-danger p-button-sm"
            (click)="eliminarResponsableContingencia(i)"
          ></button>
        </div>
        <button pButton class="mt-3" (click)="actualizarRiesgo(formuRiesgo)">Actualizar Riesgo</button>
      </form>
    </div>
  </div>
</div>
