<div class="m-5 p-4 border-solid border-200 border-round-md" *ngIf="!isLoading">
  <div class="flex justify-content-between">
    <span class="font-medium">ID: {{ proyecto.id }}</span>
    <div>
      <button
        *ngIf="isEditable"
        pButton
        pRipple
        type="button"
        label="Editar"
        icon="pi pi-pencil"
        class="p-button-sm p-button-success ml-2"
        [routerLink]="['../editar']"
      ></button>
    </div>
  </div>
  <div class="flex justify-content-end mt-2" >
    <button
      *ngIf="isDeleteable"
      pButton
      class="p-button-danger p-button-sm"
      icon="pi pi-trash"
      label="Eliminar"
      (click)="deleteProyecto()"
    ></button>
  </div>

  <h1 class="text-center">{{ proyecto.nombre.toUpperCase() }}</h1>
  <div class="text-center">
    <b>Estado: </b>
    <span
      [ngClass]="{
        creado: proyecto.estado === 'Creado',
        activo: proyecto.estado === 'activo',
        culminado: proyecto.estado === 'Culminado',
        cancelado: proyecto.estado === 'Cancelado',
        pausado: proyecto.estado === 'Pausado'
      }"
    >
      {{ proyecto.estado.toUpperCase() }}
    </span>
  </div>
  <p class="text-center"><b>Lider: </b>{{ proyecto.liderProyecto }}</p>
  <p-panel header="Fechas del proyecto">
    <b>Fecha de inicio:</b> {{ proyecto.fechaInicio }}
    <br />
    <b>Fecha de fin:</b> {{ proyecto.fechaFin }}
  </p-panel>
  <p-panel header="Descripción">
    {{ proyecto.descripcion }}
  </p-panel>
  <p-panel header="Etiquetas">
    <div class="flex flex-row">
      <div *ngFor="let etiqueta of proyecto.etiquetas">
        <p-badge [value]="etiqueta" class="ml-2"></p-badge>
      </div>
    </div>
  </p-panel>
  <p-panel header="Responsables">
    <div class="flex flex-row">
      <div *ngFor="let responsable of proyecto.responsables">
        <p-chip [label]="responsable" class="ml-2"></p-chip>
      </div>
    </div>
  </p-panel>
</div>
