<p-toolbar>
    <div class="p-toolbar-group-left">
        <a href="/">
            <img
              src="https://ik.imagekit.io/lvh0tltbeph/SofkaU/logo-sofkau_1Fn3uH-1S.png"
              alt="logo-sofkaU"
              width="200"
              height="75"
            />
          </a>
    </div>
    <div class="p-toolbar-group-right">
        <span class="mr-2 border-solid border-round-2xl border-blue-500 font-medium p-2">user-logged@email.com</span>
        <!-- <button pButton type="button" label="Iniciar Sesión"></button> -->
        <button pButton type="button" label="Cerrar Sesión" class="p-button-danger"></button>
    </div>
</p-toolbar>
