.nombre-requerido{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 30%;
  height: 3px;
}

.responsables{
  font-size: 20px;
  margin-bottom: 1px;
  margin-top: 1px;
}

:host ::ng-deep .p-chip.custom-chip {
  background: var(--primary-color);
  color: var(--primary-color-text);
}
