<p-toast></p-toast>
<h2>Crea un nuevo Proyecto</h2>
<div class="m-5 p-4 border-solid border-200 border-round-md">
  <div class="field col-12 md:col-4">
    <form [formGroup]="form">
      <label for="basic">Nombre Proyecto</label>
      <br />
      <input
        type="text"
        [(ngModel)]="formulario.nombre"
        placeholder="Ingresa el nombre del proyecto"
        formControlName="name"
        pInputText
      />
      <div
        class="nombre-requerido mb-5"
        *ngIf="formulario.nombre.length < 5 || formulario.nombre.length >= 50"
      >
        <p-message
          severity="error"
          text="Campo excede los 50 caracteres (minimo 5 caracteres)"
        ></p-message>
      </div>
      <br />
      <br />
      <label for="basic">Fecha de Inicio Proyecto</label>
      <br />
      <br />
      <p-calendar
        inputId="basic"
        [(ngModel)]="formulario.fechaInicio"
        formControlName="fecha"
        dateFormat="yy/mm/dd"
      ></p-calendar>
      <br />
      <div class="nombre-requerido mb-5" *ngIf="formulario.fechaInicio == ''">
        <p-message severity="error" text="Campo es Requerido"></p-message>
      </div>
      <br />
      <br />
      <label for="basic">Fecha de Fin Proyecto (opcional)</label>
      <br />
      <p-calendar
        inputId="basic"
        [(ngModel)]="formulario.fechaFin"
        [ngModelOptions]="{ standalone: true }"
        [readonlyInput]="true"
        dateFormat="yy/mm/dd"
      ></p-calendar>
      <br />
      <br />
      <label>Etiquetas</label>
      <br />
      <input
        type="text"
        pInputText
        [(ngModel)]="etiquetshtml"
        [ngModelOptions]="{ standalone: true }"
      />
      <br />
      <br />
      <p-button class="mt-2" (click)="agregarEtiqueta(etiquetshtml)">
        Agregar Etiqueta
      </p-button>
      <br />
      <div class="mt-2"  *ngFor="let etiquetas of formulario.etiquetas; index as i">
        <p-chip
          styleClass="mr-2 custom-chip"
          class="etiquetas"
        >
          {{ formulario.etiquetas[i] }}
        </p-chip>
        <button
        pButton
        pRipple
        type="button"
        icon="pi pi-times"
        class="p-button-rounded p-button-danger p-button-outlined p-button-sm "
        (click)="eliminarEtiqueta(i)"
      ></button>
      </div>
      <br />
      <label>Responsables (correo)</label>
      <br />
      <input
        type="email"
        pInputText
        [(ngModel)]="responsableHtml"
        placeholder="Correo del responsable"
        formControlName="email"
        pKeyFilter="email"
      />
      <br />
      <br />
      <p-button class="mt-2" (click)="agregarResponsable(responsableHtml)">
        Agregar Responsable
      </p-button>
      <div
        class="mt-2"
        *ngFor="let responsable of formulario.responsables; index as i"
      >
        <p-chip styleClass="mr-2 custom-chip">
          {{ formulario.responsables[i] }}
        </p-chip>
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-times"
          class="p-button-rounded p-button-danger p-button-outlined p-button-sm"
          pButton
          (click)="eliminarResponsable(i)"
        ></button>
      </div>
      <br />
      <label>Descripcion del formulario</label>
      <br />
      <textarea
        pInputTextarea
        [(ngModel)]="formulario.descripcion"
        formControlName="detalle"
      ></textarea>
      <div class="nombre-requerido mb-5" *ngIf="formulario.descripcion == ''">
        <p-message severity="error" text="Campo es Requerido"></p-message>
      </div>
      <br />
      <br />
      <label>Lider Proyecto</label>
      <br />
      <input
        type="text"
        [(ngModel)]="liderHtml"
        formControlName="emailLider"
        pInputText
      />
      <div class="nombre-requerido my-3" *ngIf="formulario.liderProyecto == ''">
        <p-message severity="error" text="Campo es Requerido"></p-message>
      </div>
      <div class="my-3">
        <p-chip styleClass="mr-2 custom-chip">
            {{formulario.liderProyecto}}
        </p-chip>
      </div>
      <p-button (click)="agregarLider(liderHtml)">
        Agregar Lider de Proyecto
      </p-button>
    </form>
    <br />
  </div>
  <button
    pButton
    class="p-button p-button-success my-4"
    icon="pi pi-save"
    label="Crear Proyecto"
    (click)="guardarProyecto()"
  ></button>
</div>
