<p-toast></p-toast>
<h2>Crea un nuevo formulario</h2>
<div class="p-fluid p-grid p-formgrid">
  <div class="field col-12 md:col-4">
    <form [formGroup]="form">
      <h5>Nombre Proyecto</h5>
      <input
        type="text"
        [(ngModel)]="formulario.nombre"
        placeholder="Ingresa el nombre del proyecto"
        formControlName="name"
        pInputText
      />
      <div class="nombre-requerido mb-5" *ngIf="formulario.nombre == ''">
        <p-message severity="error" text="Campo es Requerido"></p-message>
      </div>
      <br />
      <br />
      <label for="basic">Fecha de Inicio Proyecto</label>
      <p-calendar
        inputId="basic"
        [(ngModel)]="formulario.fechaInicio"
        formControlName="fecha"
        dateFormat="yy/mm/dd"
        [readonlyInput]="true"
      ></p-calendar>
      <div class="nombre-requerido  mb-5" *ngIf="formulario.fechaInicio == ''">
        <p-message severity="error" text="Campo es Requerido"></p-message>
      </div>
      <br />
      <br />
      <label for="basic">Fecha de Fin Proyecto (opcional)</label>
      <p-calendar
        inputId="basic"
        [(ngModel)]="formulario.fechaFin"
        [ngModelOptions]="{ standalone: true }"
        [readonlyInput]="true"
        dateFormat="yy/mm/dd"
      ></p-calendar>
      <br />
      <h5>Etiquetas</h5>
      <input
        type="text"
        pInputText
        [(ngModel)]="etiquetshtml"
        [ngModelOptions]="{ standalone: true }"
      />
      <p-button class="mt-2" (click)="agregarEtiqueta(etiquetshtml)" pButton>
        Agregar Etiqueta
      </p-button>
      <div class="mt-2">
        <p-chip styleClass="mr-2 custom-chip"
          class="etiquetas"
          *ngFor="let etiquetas of formulario.etiquetas; index as i"
        >
          {{ formulario.etiquetas[i] }}
        </p-chip>
      </div>
      <br />
      <h5>Responsables (correo)</h5>
      <input
        type="email"
        pInputText
        [(ngModel)]="responsableHtml"
        placeholder="Correo del responsable"
        formControlName="email"
        pKeyFilter="email"
      />
      <p-button [disabled]="form.invalid" class="mt-2" (click)="agregarResponsable(responsableHtml)">
        Agregar Responsable
      </p-button>
      <div>
        <h5
          class="responsables"
          *ngFor="let responsable of formulario.responsables; index as i"
        >
          {{ formulario.responsables[i] }}
        </h5>
      </div>
      <br />
      <h5>Descripcion del formulario</h5>
      <textarea
        pInputTextarea
        [(ngModel)]="formulario.descripcion"
        formControlName="detalle"
      ></textarea>

      <div class="nombre-requerido mb-5" *ngIf="formulario.descripcion == ''">
        <p-message severity="error" text="Campo es Requerido"></p-message>
      </div>

      <br />
      <h5>Lider Proyecto</h5>
      <input
        type="text"
        [(ngModel)]="formulario.liderProyecto"
        [ngModelOptions]="{ standalone: true }"
        pInputText
      />
    </form>
    <br />
  </div>
  <button pButton (click)="guardarProyecto(formulario)">
    Guardar formulario
  </button>
</div>
